<div class="main">
    <section
        style="background-image: url(assets/image/cheerful-woman-with-book-looking-camera.jpg);background-size: cover; 
    background-repeat: no-repeat, no-repeat; height:80vh; letter-spacing:0.5px; object-fit:cover;display: flex; justify-content: center; align-items: center;">
        <h1 class="text-white">INSTITUTE GALLERY</h1>
    </section>
    <section class="m-5 p-3">
        <div class="container">
            <div class="row">
                <div class="card p-0 m-2" style="width: 26rem;">
                    <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                        alt="...">
                </div>
                <div class="card p-0 m-2" style="width: 26rem;">
                    <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                        alt="...">
                </div>
                <div class="card p-0 m-2" style="width: 26rem;">
                    <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                        alt="...">
                </div>
            </div>
        </div>
    </section>
</div>