<div class="main">
    <section
        style="background-image: url(assets/image/team-unity-friends-meeting-partnership-concept.jpg);background-size: cover; 
    background-repeat: no-repeat, no-repeat; height:80vh; letter-spacing:0.5px; object-fit:cover;display: flex; justify-content: center; align-items: center;">
        <h1 class="container text-center text-white" style="font-size: 50px;">About US</h1>
    </section>
    <section class="about-section-2 m-lg-5 p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-center" style="font-weight: bold; font-size:40px;">Immigration Services</h1>
                    <p class="text-center" style="font-size:20px;">
                        Global Migrate provides a range of immigration services designed to facilitate your journey to a
                        new destination. From visa application assistance to relocation support, we handle every aspect
                        of the process with precision and care. Our team ensures a smooth transition, guiding you
                        through legal requirements and logistical challenges to make your move hassle-free.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="about-section-2-img text-center"
                        src="../../../assets/image/scott-graham-5fNmWej4tAA-unsplash.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="about-section-3 mt-lg-5 mt-sm-2 p-2" style="background-color: rgb(249, 231, 231);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center mt-lg-5 mb-lg-5">
                    <img class="aboutlogo"
                        src="../../../assets/image/global-migrate-logo-zip-file/svg/logo-no-background.svg">
                </div>
                <div class="col-md-6 mt-lg-5 mb-lg-5 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="m-3" style="font-weight: bold; font-size:50px;">Our Company</h1>
                    <p class="m-3" style="font-weight: lighter; font-size:20px;">At Global Migrate, we offer
                        comprehensive immigration solutions tailored to your needs. From visa processing to relocation
                        assistance, our expert team ensures a seamless migration journey. Trust us to navigate the
                        complexities, so you can focus on embracing new opportunities</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section-4 m-5 p-3">
        <div class="container">
            <h1 class="text-center">Why Choose US?</h1>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="card m-5 p-2" style="width: 21rem; height:22rem; border:3px solid black; border-radius:10px;
                    box-shadow: 10px 10px 10px 10px rgb(253, 180, 180);">
                    <div class="text-center">
                        <img src="../../../assets/image/rating.png" style="height: 100px; width:100px"
                            class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Expertise</h5>
                        <p class="card-text text-center">Our team comprises experienced professionals with in-depth
                            knowledge of
                            immigration laws and procedures, ensuring accurate guidance and reliable support throughout
                            your journey.</p>
                    </div>
                </div>
                <div class="card m-5 p-2"
                    style="width: 21rem; height:22rem;border:3px solid black; border-radius:10px;box-shadow: 10px 10px 10px 10px rgb(253, 180, 180);">
                    <div class="text-center">
                        <img src="../../../assets/image/personalization.png" style="height: 100px; width:100px"
                            class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Personalization</h5>
                        <p class="card-text text-center"> We understand that every client's situation is unique, so we
                            tailor our
                            services to meet your specific needs, providing personalized solutions that prioritize your
                            success.</p>
                    </div>
                </div>
                <div class="card m-5 p-2"
                    style="width: 21rem; height:22rem; border:3px solid black; border-radius:10px;box-shadow: 10px 10px 10px 10px rgb(251, 197, 197);">
                    <div class="text-center">
                        <img src="../../../assets/image/trustworthiness.png" style="height: 100px; width:100px"
                            class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Integrity</h5>
                        <p class="card-text text-center">At Global Migrate, honesty and integrity are at the core of
                            everything we
                            do. You can trust us to provide transparent advice and ethical service, fostering a
                            relationship built on trust and mutual respect.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
        style="background-image: url(assets/image/eric-rothermel-FoKO4DpXamQ-unsplash.svg);background-size: cover; 
    background-repeat: no-repeat, no-repeat; height:50vh; letter-spacing:0.5px; object-fit:cover;display: flex; justify-content: center; align-items: center;">
        <div class="container text-center">
            <h1 class="text-center text-white">Wanna Meet Us
                Or
                Book an Appoinment</h1>
            <a href="contact" type="button" class="btn btn-dark btn-lg m-3 " style="background-color: #651818">
                Book Now
            </a>
        </div>
    </section>
    <section class="about-section-6 m-lg-4 p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="about-section-6-img text-center"
                        src="../../../assets/image/amy-hirschi-JaoVGh5aJ3E-unsplash.jpg">
                </div>
                <div class="col-md-6">
                    <h1 class="text-center" style="font-weight: bold; font-size:40px;">Director's Message</h1>
                    <p class="text-center" style="font-size:20px;">
                        At Global Migrate, we are committed to guiding you through every step of your immigration
                        journey with expertise and care. Our mission is to empower individuals and families to achieve
                        their dreams of global mobility, ensuring a seamless transition to new horizons. Trust us to
                        provide personalized solutions and unwavering support as you embark on this life-changing
                        experience
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>