<div class="main">
    <section class="visa-section-1 d-flex justify-content-center align-items-center text-center p-5" style="background-image: url(assets/image/geojango-maps-CWbbJW_7Fsw-unsplash.jpg);background-size: cover; 
    background-repeat: no-repeat, no-repeat; height: 70vh; letter-spacing:0.5px;">
    </section>

    <section class="visa-section-2 m-5 p-3">
        <div class="container">
            <div class="text-center">
                <h1>STUDY VISA</h1>
                <h5>Choose from vast Countries to settle in Abroad</h5>
            </div>
            <div class="card-container p-2">
                <div class="row">
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/eugene-aikimov-azqdBkIHVo0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Canada</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/dan-freeman-7Zb7kUyQg1E-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Australia</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>