<nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: #651818;">
    <div class="container-fluid">
        <a href="home">
            <img src="../../../assets/image/global-migrate-logo-zip-file/svg/global-migrate-high-resolution-logo-white-transparent.svg"
                style="height: 100px; width:200px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto" style="font-size: 20px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="visa-information">Visa Information</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gallery
                    </a>
                    <ul class="dropdown-menu" style="background-color: #651818; border: 3px solid black">
                        <li><a class="dropdown-item " href="institute">Institute</a></li>
                        <li><a class="dropdown-item " href="visa">Visa</a></li>
                        <li><a class="dropdown-item " href="results">Result</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services">Our Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact US