<div class="main">
    <section class="home-section-1 d-flex justify-content-center align-items-center text-center p-5" style="background-image: url(assets/image/home.png);background-size: cover; 
    background-repeat: no-repeat, no-repeat; letter-spacing:0.5px;">
        <div>
            <h1 class="text-white">Explore Global Horizons with Global Migrate</h1>
            <h4 class="text-white">Discover boundless opportunities worldwide with
                Global Migrate.</h4>
            <button type="button" class="btn btn-dark btn-lg" style="background-color: #651818">free Expert
                Consultation</button>
        </div>
    </section>
    <section class="home-section-2 m-5 p-3">
        <div class="container">
            <div class="text-center">
                <h1>STUDY VISA</h1>
                <h5>Choose from vast Countries to settle in Abroad</h5>
            </div>
            <div class="card-container p-2">
                <div class="row">
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/eugene-aikimov-azqdBkIHVo0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Canada</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/dan-freeman-7Zb7kUyQg1E-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Australia</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-dark" style="background-color: #651818">Explore More</button>
            </div>
        </div>
    </section>

    <section class="home-section-3 mt-lg-5 mt-sm-2 p-2" style="background-color: rgb(249, 231, 231);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center mt-lg-5 mb-lg-5">
                    <img class="aboutlogo"
                        src="../../../assets/image/global-migrate-logo-zip-file/svg/logo-no-background.svg">
                </div>
                <div class="col-md-6 mt-lg-5 mb-lg-5 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="m-3" style="font-weight: bold; font-size:50px;">Our Company</h1>
                    <p class="m-3" style="font-weight: lighter; font-size:20px;">Global Migrate is your trusted partner
                        for
                        seamless immigration solutions. With a commitment to
                        excellence and a focus on personalized service, we empower individuals and families to navigate
                        the complexities of global migration with confidence. Discover your pathway to new opportunities
                        and a brighter future with us.</p>
                    <button type="button" class="btn btn-dark btn-lg m-3" style="background-color: #651818">Read
                        More</button>
                </div>
            </div>
        </div>
    </section>

    <section class="home-section-4 m-lg-5 m-sm-3 p-2">
        <div class="container">
            <h1 class="text-center" style="font-weight: bold; font-size:40px;">OUR SERVICES</h1>
            <p class="text-center" style="font-weight: lighter; font-size:20px;">At Global Migrate, we offer
                comprehensive immigration services tailored to your
                needs. From visa applications to relocation assistance, our expert team guides you through every step of
                the process with personalized support. Trust us to make your global migration journey smooth and
                successful.</p>
            <div class="row mt-5 d-flex justify-content-center align-items-center">
                <div class="card p-0 m-3" style="width: 23rem; height:16rem">
                    <div class="card-body ">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card p-0 m-3" style="width: 23rem; height:16rem">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card m-3 p-0" style="width: 23rem; height:16rem">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-dark btn-lg m-3" style="background-color: #651818">Know
                    More</button>
            </div>
        </div>

    </section>

    <section class="home-section-5 mt-5 p-2" style="background-color: rgb(249, 231, 231);">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
                    <img src="../../../assets/image/business-people-shaking-hands-together.jpg"
                        style="height: 300px; width:400px;">
                </div>
                <div class="col-md-6">
                    <p style="font-weight: lighter; font-size:20px;">Take advantage of our complimentary consultation
                        service at Global Migrate. Our experienced
                        immigration experts will provide personalized guidance, evaluating your specific circumstances
                        and offering tailored advice on the best migration options available to you. We understand the
                        importance of making informed decisions, and our free consultation ensures you start your
                        migration journey with clarity and confidence. Schedule your appointment today to embark on a
                        path towards a brighter future.</p>

                    <button type="button" class="btn btn-dark btn-lg m-3" style="background-color: #651818">
                        Consult for free
                    </button>
                </div>
            </div>
        </div>
    </section>

</div>