<div class="main">
    <section class="home-section-1 d-flex justify-content-center align-items-center text-center p-5" style="background-image: url(assets/image/home.png);background-size: cover; 
    background-repeat: no-repeat, no-repeat; letter-spacing:0.5px;">
        <div>
            <h1 class="text-white">
                <span class="char-animation" style="--index: 1;"><span>E</span></span>
                <span class="char-animation" style="--index: 2;"><span>x</span></span>
                <span class="char-animation" style="--index: 3;"><span>p</span></span>
                <span class="char-animation" style="--index: 4;"><span>l</span></span>
                <span class="char-animation" style="--index: 5;"><span>o</span></span>
                <span class="char-animation" style="--index: 6;"><span>r</span></span>
                <span class="char-animation" style="--index: 7;"><span>e</span></span>
                <span class="char-animation" style="--index: 8;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 9;"><span>G</span></span>
                <span class="char-animation" style="--index: 10;"><span>l</span></span>
                <span class="char-animation" style="--index: 11;"><span>o</span></span>
                <span class="char-animation" style="--index: 12;"><span>b</span></span>
                <span class="char-animation" style="--index: 13;"><span>a</span></span>
                <span class="char-animation" style="--index: 14;"><span>l</span></span>
                <span class="char-animation" style="--index: 15;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 16;"><span>H</span></span>
                <span class="char-animation" style="--index: 17;"><span>o</span></span>
                <span class="char-animation" style="--index: 18;"><span>r</span></span>
                <span class="char-animation" style="--index: 19;"><span>i</span></span>
                <span class="char-animation" style="--index: 20;"><span>z</span></span>
                <span class="char-animation" style="--index: 21;"><span>o</span></span>
                <span class="char-animation" style="--index: 22;"><span>n</span></span>
                <span class="char-animation" style="--index: 23;"><span>s</span></span>
                <span class="char-animation" style="--index: 24;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 25;"><span>w</span></span>
                <span class="char-animation" style="--index: 26;"><span>i</span></span>
                <span class="char-animation" style="--index: 27;"><span>t</span></span>
                <span class="char-animation" style="--index: 28;"><span>h</span></span>
                <span class="char-animation" style="--index: 29;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 30;"><span>G</span></span>
                <span class="char-animation" style="--index: 31;"><span>l</span></span>
                <span class="char-animation" style="--index: 32;"><span>o</span></span>
                <span class="char-animation" style="--index: 33;"><span>b</span></span>
                <span class="char-animation" style="--index: 34;"><span>a</span></span>
                <span class="char-animation" style="--index: 35;"><span>l</span></span>
                <span class="char-animation" style="--index: 36;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 37;"><span>M</span></span>
                <span class="char-animation" style="--index: 38;"><span>i</span></span>
                <span class="char-animation" style="--index: 39;"><span>g</span></span>
                <span class="char-animation" style="--index: 40;"><span>r</span></span>
                <span class="char-animation" style="--index: 41;"><span>a</span></span>
                <span class="char-animation" style="--index: 42;"><span>t</span></span>
                <span class="char-animation" style="--index: 43;"><span>e</span></span>
            </h1>
            <h4 class="text-white">
                <span class="char-animation" style="--index: 1;"><span>D</span></span>
                <span class="char-animation" style="--index: 2;"><span>i</span></span>
                <span class="char-animation" style="--index: 3;"><span>s</span></span>
                <span class="char-animation" style="--index: 4;"><span>c</span></span>
                <span class="char-animation" style="--index: 5;"><span>o</span></span>
                <span class="char-animation" style="--index: 6;"><span>v</span></span>
                <span class="char-animation" style="--index: 7;"><span>e</span></span>
                <span class="char-animation" style="--index: 8;"><span>r</span></span>
                <span class="char-animation" style="--index: 9;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 10;"><span>b</span></span>
                <span class="char-animation" style="--index: 11;"><span>o</span></span>
                <span class="char-animation" style="--index: 12;"><span>u</span></span>
                <span class="char-animation" style="--index: 13;"><span>n</span></span>
                <span class="char-animation" style="--index: 14;"><span>d</span></span>
                <span class="char-animation" style="--index: 15;"><span>l</span></span>
                <span class="char-animation" style="--index: 16;"><span>e</span></span>
                <span class="char-animation" style="--index: 17;"><span>s</span></span>
                <span class="char-animation" style="--index: 18;"><span>s</span></span>
                <span class="char-animation" style="--index: 19;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 20;"><span>o</span></span>
                <span class="char-animation" style="--index: 21;"><span>p</span></span>
                <span class="char-animation" style="--index: 22;"><span>p</span></span>
                <span class="char-animation" style="--index: 23;"><span>o</span></span>
                <span class="char-animation" style="--index: 24;"><span>r</span></span>
                <span class="char-animation" style="--index: 25;"><span>t</span></span>
                <span class="char-animation" style="--index: 26;"><span>u</span></span>
                <span class="char-animation" style="--index: 27;"><span>n</span></span>
                <span class="char-animation" style="--index: 28;"><span>i</span></span>
                <span class="char-animation" style="--index: 29;"><span>t</span></span>
                <span class="char-animation" style="--index: 30;"><span>i</span></span>
                <span class="char-animation" style="--index: 31;"><span>e</span></span>
                <span class="char-animation" style="--index: 32;"><span>s</span></span>
                <span class="char-animation" style="--index: 33;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 34;"><span>w</span></span>
                <span class="char-animation" style="--index: 35;"><span>o</span></span>
                <span class="char-animation" style="--index: 36;"><span>r</span></span>
                <span class="char-animation" style="--index: 37;"><span>l</span></span>
                <span class="char-animation" style="--index: 38;"><span>d</span></span>
                <span class="char-animation" style="--index: 39;"><span>w</span></span>
                <span class="char-animation" style="--index: 40;"><span>i</span></span>
                <span class="char-animation" style="--index: 41;"><span>d</span></span>
                <span class="char-animation" style="--index: 42;"><span>e</span></span>
                <span class="char-animation" style="--index: 43;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 44;"><span>G</span></span>
                <span class="char-animation" style="--index: 45;"><span>l</span></span>
                <span class="char-animation" style="--index: 46;"><span>o</span></span>
                <span class="char-animation" style="--index: 47;"><span>b</span></span>
                <span class="char-animation" style="--index: 48;"><span>a</span></span>
                <span class="char-animation" style="--index: 49;"><span>l</span></span>
                <span class="char-animation" style="--index: 50;"><span>&nbsp;</span></span>
                <span class="char-animation" style="--index: 51;"><span>M</span></span>
                <span class="char-animation" style="--index: 52;"><span>i</span></span>
                <span class="char-animation" style="--index: 53;"><span>g</span></span>
                <span class="char-animation" style="--index: 54;"><span>r</span></span>
                <span class="char-animation" style="--index: 55;"><span>a</span></span>
                <span class="char-animation" style="--index: 56;"><span>t</span></span>
                <span class="char-animation" style="--index: 57;"><span>e</span></span>
                <span class="char-animation" style="--index: 58;"><span>.</span></span>
            </h4>
            <!-- <h1 class="text-white">Explore Global Horizons with Global Migrate</h1> -->
            <!-- <h4 class="text-white">Discover boundless opportunities worldwide with
                Global Migrate.</h4> -->
            <div class="overflow-hidden m-5">
                <a type="button" style="background-color: #651818"
                    class="btn btn-dark btn-lg btn-outline text-color-light font-weight-semibold border-width-4 custom-link-effect-1 text-1 text-xl-3 d-inline-flex align-items-center py-3 px-4"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Free Expert Consultation<i class="custom-arrow-icon ms-2"></i>
                </a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content" style="background: rgb(248, 203, 203); padding:50px; border-color:white">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            style="position: absolute; top: 10px; right: 10px; font-size: 1.5rem; color: black; background-color: white; z-index: 9999; border: none;">
                        </button>



                        <div class="row" style="display: flex; align-items:center; justify-content:center">
                            <div class="col-md-6">
                                <h1 style="color: black; font-size: 40px; font-weight: bold; line-height: 1.2;">
                                    Global Migrate -Immigration Services
                                </h1>
                                <h4 style="color: black; font-size: 20px; line-height: 1.2;">
                                    Get Free Expert Consultation
                                </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container"
                                    style="padding: 20px; border-radius: 10px; background-color:rgb(248, 203, 203)">
                                    <form>
                                        <div class="mb-2">
                                            <label for="name" class="form-label" style="color: black;">Full Name</label>
                                            <input type="text" id="fullName" class="form-control border-0 border-bottom"
                                                style="background-color: transparent; color: black;" required>
                                            <div id="fullNameError" class="error-message" style="color: red;"></div>
                                        </div>
                                        <div class="mb-2">
                                            <label for="contact" class="form-label"
                                                style="color: black;">Contact</label>
                                            <input type="number" id="contact"
                                                class="form-control border-0 border-bottom"
                                                style="background-color: transparent; color: black;" required>
                                            <div id="contactError" class="error-message" style="color: red;"></div>
                                        </div>

                                        <div class="mb-2">
                                            <label for="email" class="form-label" style="color: black;">Email Id</label>
                                            <input type="email" id="email_id"
                                                class="form-control border-0 border-bottom"
                                                style="background-color: transparent; color: black;" required>
                                            <div id="emailError" class="error-message" style="color: red;"></div>
                                        </div>
                                        <div class="mb-2">
                                            <label for="description" class="form-label" style="color: black;">Project
                                                Description</label>
                                            <input type="text" id="description"
                                                class="form-control border-0 border-bottom"
                                                style="background-color: transparent; color: black;" required>
                                            <div id="descriptionError" class="error-message" style="color: red;"></div>
                                        </div>
                                        <div class="text-end pt-3">
                                            <button onclick="sendMail()" class="btn"
                                                style="background: #651818; color:white; border-radius: 5px !important;"
                                                data-bs-dismiss="modal">Submit Request</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-section-2 m-5 p-3">
        <div class="container">
            <div class="text-center">
                <h1>STUDY VISA</h1>
                <h5>Choose from vast Countries to settle in Abroad</h5>
            </div>
            <div class="card-container p-2">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 mb-3" *ngFor="let visas of visaList; index as idx">
                        <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                            <img loading="eager" [src]="visas.imageUrl || '/assets/img/empty-profile.png'"
                                class="card-img-top" style="width:100%; height: 270px">
                            <div class="card-body">
                                <h5 class="card-title">{{visas.title}}</h5>
                                <p class="card-text">{{visas.description}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/eugene-aikimov-azqdBkIHVo0-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Canada</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-0" style="width: 26rem; height:28rem;">
                        <img src="../../../assets/image/dan-freeman-7Zb7kUyQg1E-unsplash.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Australia</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="visa-information" type="button" class="btn btn-dark" style="background-color: #651818">Explore
                    More</a>
            </div>
        </div>
    </section>

    <section class="home-section-3 mt-lg-5 mt-sm-2 p-2" style="background-color: rgb(249, 231, 231);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img class="aboutlogo"
                        src="../../../assets/image/global-migrate-logo-zip-file/svg/logo-no-background.svg">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="m-3" style="font-weight: bold; font-size:50px;">Our Company</h1>
                    <p class="m-3" style="font-weight: lighter; font-size:20px;">Global Migrate is your trusted partner
                        for
                        seamless immigration solutions. With a commitment to
                        excellence and a focus on personalized service, we empower individuals and families to navigate
                        the complexities of global migration with confidence. Discover your pathway to new opportunities
                        and a brighter future with us.</p>
                    <a href="about" type="button" class="btn btn-dark btn-lg m-3" style="background-color: #651818">Read
                        More</a>
                </div>
            </div>
        </div>
    </section>

    <section class="home-section-4 m-lg-5 m-sm-3 p-2">
        <div class="container">
            <h1 class="text-center" style="font-weight: bold; font-size:40px;">OUR SERVICES</h1>
            <p class="text-center" style="font-weight: lighter; font-size:20px;">At Global Migrate, we offer
                comprehensive immigration services tailored to your
                needs. From visa applications to relocation assistance, our expert team guides you through every step of
                the process with personalized support. Trust us to make your global migration journey smooth and
                successful.</p>
            <div class="row mt-5 d-flex justify-content-center align-items-center">
                <div class="col-12 col-sm-6 col-lg-4 mb-3" *ngFor="let services of servicesList">
                    <div cclass="card p-0 m-3" style="width: 23rem; height:16rem; border: 4px solid #651818">
                        <div class="card-body p-4">
                            <h5 class="card-title" style="font-size:25px;">
                                {{services.title}}</h5>&nbsp;
                            <p class="card-text" style="font-size:18px;">{{services.description}}</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="card p-0 m-3" style="width: 23rem; height:16rem; border: 4px solid #651818">
                    <div class="card-body ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card p-0 m-3" style="width: 23rem; height:16rem; border: 4px solid #651818">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                <div class="card m-3 p-0" style="width: 23rem; height:16rem; border: 4px solid #651818">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div> -->
            </div>
            <div class="text-center">
                <a href="services" type="button" class="btn btn-dark btn-lg m-3" style="background-color: #651818">Know
                    More</a>
            </div>
        </div>

    </section>

    <section class="home-section-5 mt-5 p-2" style="background-color: rgb(249, 231, 231);">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
                    <img src="../../../assets/image/business-people-shaking-hands-together.jpg"
                        style="height: 300px; width:400px;">
                </div>
                <div class="col-md-6">
                    <p style="font-weight: lighter; font-size:20px;">Take advantage of our complimentary consultation
                        service at Global Migrate. Our experienced
                        immigration experts will provide personalized guidance, evaluating your specific circumstances
                        and offering tailored advice on the best migration options available to you. We understand the
                        importance of making informed decisions, and our free consultation ensures you start your
                        migration journey with clarity and confidence. Schedule your appointment today to embark on a
                        path towards a brighter future.</p>

                    <a href="contact" type="button" class="btn btn-dark btn-lg m-3" style="background-color: #651818">
                        Consult for free
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>