<div class="main">
    <section
        style="background-image: url(assets/image/nicole-geri-gMJ3tFOLvnA-unsplash.png);background-size: cover; 
    background-repeat: no-repeat, no-repeat; height:80vh; letter-spacing:0.5px; object-fit:cover;display: flex; justify-content: center; align-items: center;">
        <!-- <h1 class="text-white">VISA GALLERY</h1> -->
        <h1 class="text-white">
            <span class="char-animation" style="--index: 1;"><span>V</span></span>
            <span class="char-animation" style="--index: 2;"><span>I</span></span>
            <span class="char-animation" style="--index: 3;"><span>S</span></span>
            <span class="char-animation" style="--index: 4;"><span>A</span></span>
            <span class="char-animation" style="--index: 5;"><span>&nbsp;</span></span>
            <span class="char-animation" style="--index: 6;"><span>G</span></span>
            <span class="char-animation" style="--index: 7;"><span>A</span></span>
            <span class="char-animation" style="--index: 8;"><span>L</span></span>
            <span class="char-animation" style="--index: 9;"><span>L</span></span>
            <span class="char-animation" style="--index: 10;"><span>E</span></span>
            <span class="char-animation" style="--index: 11;"><span>R</span></span>
            <span class="char-animation" style="--index: 12;"><span>Y</span></span>
        </h1>
    </section>
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let visas of visaList; index as idx">
                    <div class="card p-0" style="width: 22rem;">
                        <img [src]="visas.imageUrl" style="width:100%; height: 270px">
                    </div>
                </div>
                <!-- <div class="card p-0 m-2" style="width: 26rem;">
                    <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                        alt="...">
                </div>
                <div class="card p-0 m-2" style="width: 26rem;">
                    <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                        alt="...">
                </div>
                <div class="card p-0 m-2" style="width: 26rem;">
                    <img src="../../../assets/image/jared-erondu-8VjYSSZDogU-unsplash.jpg" class="card-img-top"
                        alt="...">
                </div> -->
            </div>
        </div>
    </section>
</div>